<div id="wrapper">
  <div class="jumbotron">
    <h1 id="header">NBA Highlights</h1>
  </div>
  <div id="userinput">
      <p>Title</p>
      <input type="text" id="title" />
    <br>
      <p>Note</p>
      <textarea id="note"></textarea>
    <div id="buttons">
      <div id="actionbutton">
        <button id="makenew">Submit</button>
      </div>
      <button id="clearall">Delete All Notes</button>
    </div>
  </div>
  <div id="articles">
    {{#each articles}}
      <p data-id={{this._id}}> 
        <br /> 
        <a href="http://www.nba.com/{{this.link}}">{{this.title}}</a>
      </p>
    {{/each}}
  </div>


  <div id="results"></div>
  <div id="notes"></div>
</div>

<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="app.js"></script>

